@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 36vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 30px;
}

.diwali-bottom-section {
    background-color: #e6f6ff;
    text-align: center;
    padding: 15px;
}

.diwali-bottom-section-card {
    background-color: white;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.diwali-card-image {
    height: 50px;
    width: 50px;
}

.diwali-card-name {
    font-size: 12px;
    font-family: Roboto;
    color: #616e7c;
}

.diwali-card-para {
    font-weight: bold;
    font-size: 15px;
    color: #616e7c;
}